* {
 font-family: 'Raleway', sans-serif;
 text-align: center;
}

h1 {
 font-family: 'Great Vibes', cursive;
 font-size: 100px;
 color: #67C6E3;
}

#introDescription {
 color: #67C6E3;
}

body {
 background-color: #DFF5FF;
}